
{% extends 'html/base3.html' %}
{% load static %}

{% block title %}
    <title>PDHIS-homepage</title>
{% endblock title %}
{% block content %}
< <div class="container">
    
  <center><h3>Contact Page</h3></center>
    <br>
</div>
<html>

<head>

<style>

table {

font-family: arial, sans-serif;

border-collapse: collapse;

width: 50%;

}


td, th {

border: 1px solid #dddddd;

text-align: left;

padding: 8px;

}


tr:nth-child(even) {

background-color: #dddddd;

}

</style>
</head>
<body>
<center>
<table>
<h6>Department</h6>
<br>
<tr>
  <th>Department</th>
  <th>job</th>
  <th>Name</th>
  <th>Phone</th>
</tr>
<tr>
  <td>Cardiology</td>
  <td>secretary</td>
  <td> Alfreds Futterkiste</td>
  <td>08-000000</td>
</tr>

<tr>
  <td>Nephrology</td>
  <td>secretary</td>
  <td>Maria Anders</td>
  <td>08-000000</td>
</tr>

<tr>
  <td>Neurology</td>
  <td>secretary</td>
  <td>Helen Bennett</td>
  <td>08-000000</td>
</tr>

<tr>
  <td>Oncology</td>
  <td>secretary</td>
  <td>Maria Miller</td>
  <td>08-000000</td>
</tr>

<tr>
  <td>Orthopaedics</td>
  <td>secretary</td>
  <td>Roland Mendel</td>
  <td>08-000000</td>
</tr>

<tr>
  <td>Radiology</td>
  <td>secretary</td>
  <td>Yoshi Cohen</td>
  <td>08-000000</td>
</tr>
</table>
<br>
<br>
<br>
<br>
<h6>Technical support</h6>
<br>
<table>
<tr>
  <th>job</th>
  <th>Name</th>
  <th>Phone</th>
</tr>
<tr>
  <td>computers</td>
  <td> Alfreds Futterkiste</td>
  <td>08-000000</td>
</tr>
<tr>
  <td>Logistics</td>
  <td> Alfreds Futterkiste</td>
  <td>08-000000</td>
</tr>
<tr>
  <td>Logistics</td>
  <td> Alfreds Futterkiste</td>
  <td>08-000000</td>
</tr>
</table>

</center>
</body>
</html>






  
  
        <!-- Wrapper for carousel items -->
       





{% endblock content %} 





