{% extends 'html/base3.html' %}
{% load crispy_forms_tags %}

{% block title %}
    <title>PDHIS-secretary</title>
{% endblock title %}


{% block content %}
  <div class="container">
    <br>
    <center><h3>Welcome Secretary</h3></center>
    <br>
    <center><h4>Login</h4></center>
    <br>
    <center>
    <form method="POST" class="mt-3 col-3" >
        {% csrf_token %}

        {{ form|crispy }}
      <br>
    <button class="btn btn-primary mb-5" type="submit">Login</button>
    </form>
  </center>
   </div>
{% endblock content %}