
   <!DOCTYPE html>
   <!-- {% load static %}-->
    <html>
     <!--<link rel="stylesheet" href="{ static 'coloumn.css' %}"> -->
    <body>
     <center>
     <h1>REPORT OF THE  STATUS OF PAYMENT FOR APPOINTMENTS SCHEDULED FOR TODAY :</h1> 
             {% for x in listpayment %}
        
             {% if x.patient_payment == 0 %}
             
             <h3  style="background-color:red;">the patient {{ x.patient.user_patient.first_name}}  {{ x.patient.user_patient.last_name}} identity number {{ x.patient.id_number}} didnt't pay for the appointment</h3>
             {% else %}
             <h3>the patient {{ x.patient.user_patient.first_name}}  {{ x.patient.user_patient.last_name}}  identity number {{ x.patient.id_number}} paid for the appointment</h3>
             {% endif %}
             {% endfor %}
         
         <br><br><a href="{% url 'home' %}">Return to Home Page</a> 
     </center>
    </body>
    </html>