<!DOCTYPE html>
<html>
    <title> CONTACT FORM FOR SENDING EMAILS</title>
    <body>
            <center>
            <h3>HELLO </H3>

            <h3> YOUR REQUEST FOR SCHEDULING AN APPOINTMENT WAS RECEIVED</H3>

            <h3>YOUR APPOINTMENT TO DOCTOR  {{ choice }}</h3>

            <h3>YOU HAVE TO PAY WHEN COMING TO THE APPOINTMENT</h3>

            <h1>                    FEEL WELL                 </h1>

            <br><br><a href="{% url 'home' %}">Return to Home Page</a> 
        </center>  
        

    </body>
    </html>