{% extends 'html\base4.html' %}
{% load static %}
{% block title %}
    <title>Home</title>
{% endblock title %}

{% block content %}






<html>
    <body style=" background-color:powderblue;">
        <style>
            .success{
                padding:10px;
                background:red;
            }
        </style>
    <center>
        <h1>Welcome to the Medical Secretary HomePage</h1>
        <h2> M E S S A G E S</h2>
        {% if messages %}
        {% for message in messages %}
        <div class="{{message.tags}}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        
        <center>
        <h4>User Story 2</h4>
        <menu>
        <li><a href="index/">Appointments made Yesterday</a></li>
       <li><a href="lists/">Produce Reports for all Doctors Scheduled Yesterday</a></li>

            </center>
        </menu>
        <center>
        <h4>User Story 3</h4>
        <menu>
            <form action="checkpriority/" method="get"><button type="submit" name='priority' >Show the Priority of the Appointment</button></form>
         
            </center>
        </menu>
        <center>
        <h4>User Story 4</h4>
        <menu>
            <form action="checkdatesofappointments/" method="get"><button type="submit" name='calendar'>Show Calendar</button></form>
      
        </menu>
    </center>
        <center>
        <h4>User Story 5</h4>
        <menu>
            <li><a href="add/">Scheduling an Appointment</a></li>
            <li><a href="contact/">Send an email to the Patient</a></li>
       
        </menu>
    </center>
        <h4>User Story 6</h4>
        <menu>
            <li><a href="response/">Responding to an urgent call from a doctor</a></li>
            <li><a href="contact/">Send an email to the Patient</a></li>
            <li><a href="turnoffalert">Turn off the Alert Notifying about an Urgent Appointment</a></li>
         
        </menu>
        <h4>User Story 7</h4>
        <menu>
            <form action="cancel/" method="get"><button type="submit" name='cancel' >Cancelling a doctor's appointments</button></form>
         
        </menu>
        <h4>User Story 8</h4>
        <menu>
        
            <li><a href="reschedule/">Resheduling an urgent Appointment</a></li>
            <li><a href="notify/">Notifying a doctor about a rescheduling</a></li>
            <li><a href="contact/">Send an email to the Patient</a></li>
          
        </menu>
        <h4>User Story 9</h4>
        <menu>
            <li><a href="payment/">Presenting a List of Patients Scheduled for Today</a></li>
            <li><a href="upload/">Uploading Tofes 17 of the Patients</a></li>
            <li><a href="confirm/">Status of Payment for the Appointment</a></li>
            <li><a href="tarif/">Presenting the amount paid for each doctor</a></li>
            <li><a href="contact/">Send an email to the Patient</a></li>
           
        </menu>

       
    </center>
    </body>
    </html>
    {% endblock content %}