{% extends 'html\base1.html' %}

{% block title %}
    <title>About Us</title>
{% endblock title %}

{% block content %}
<div class = "container">
    <center> <h1><i>{{about_text}}</i></h1></center>
</br>
</div>
<center><h5><i>
Hospital information systems (HIS) and electronic 
medical records (EMR) are currently considered a major
 part of the healthcare system, on which all the processes
  of care delivery depend. They have the potential to 
  provide substantial benefits to healthcare professionals, 
  patients and healthcare organizations. The study used 
  quantitative survey methods through a questionnaire to 
  collect data and information directly from different 
  categories of healthcare professionals of four Saudi 
  hospitals. Valid responses were 153 and ten perceived 
  benefits were validated and ranked, these are:
</br></br></i></h5></center> 
 <center><h5>* Improved information access.</h5></center>
   <center><h5>* Increased healthcare professionals productivity.</h5></center> 
    <center><h5>* Improved efficiency and accuracy of coding and billing.</h5></center>
     <center><h5>* Improved quality of healthcare.
        <center><h5>* Improved clinical management (diagnosis and treatment).</h5></center>
        <center><h5>.</h5><center>
            <center><h5>.</h5><center>
                    <center><h5>and much more</h5><center>
        <center><h5>(Australian Institute of Health InnovationCentre for Health Informatics, Mohamed Khalifa)</h5></center>
</div>

{% endblock content %}